

body {
    padding: 1%; 
    background-color: #F8F8FF;
    font-size: 12px;
}

.painelLogin{
     font-size: 12px;
     width: 100%; 
     text-align: right;
     background-color: #F8F8FF;
}

.cabecalho{
    height: 10%; 
    width: 100%; 
    background-color: buttonface; 
}

.texto-cabecalho{
    font-family: Courier New;
    font-weight: bold;
    color: white;  
}

.texto-cabecalho-direita{
    font-family: Courier New;
    font-size: 18px;
    color: white;
}

a{
    text-decoration: none;
}

.botaoLink{
    color: #00E !important;
    border-bottom: 1px solid !important;
    font-size: 14px;
}

.txtLabel{
    font-weight: bolder;
    font-size: 14px;
}

.txtNormal{
    font-size: 14px;
}

.txtLabelGrande{
    font-size: 18px;
}

.ui-datatable .ui-datatable-data .even-row td{  
    background-color: #EEEEE0; 
}  
      
.ui-datatable .ui-datatable-data .odd-row td{      
    background-color: #F8F8FF; ;     
}  

